@page "/"

<PageTitle>Second Life Gateway</PageTitle>

<h1>Welcome!</h1>

<p>The SecondLife Gateway is a development tool. If you've been directed here to register a SL object, please login and click "API Keys" on the sidebar.</p>

<p>This gateway is currently under development. Currently, there should be limited usage of this system, and usage should be testing only. It is running under an open-beta scheme. Do not expect service to continue from this domain in the future.</p>

<p>This gateway was created by AkyreNerzhul Resident. Inquiries may be sent via DM inworld or to nano(at)pixelcollider.net. I look forward to hearing from you.</p>
