@inherits LayoutComponentBase

<PageTitle>SLWatchtower</PageTitle>

<div class="page">
    <main>
        <NavMenu />

        <article class="pt-3 px-4">
            @Body
        </article>
    </main>
</div>