<header class="bg-dark text-white p-3">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a class="logo-link" href="/">
                <div class="d-flex align-items-center"><i class="fa-solid fa-gopuram fa-2x"></i><span class="ms-3">Watchtower</span></div>
            </a>
            <LoginDisplay />
        </div>
    </div>
</header>