<div class="bg-lighthouse hero">
    <section class="py-5 text-center container">
        <div class="row py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h1>Parcel Watchtower</h1>
                <p class="lead text-muted">Track current users on your parcels.</p>
@*                <p>
                    <a class="btn btn-primary my-2" href="auth/login">Login to Continue</a>
                </p>*@
            </div>
        </div>
    </section>
</div>
